*{
  margin: 0;
}
.app{
  background-color: #fafafa;
}
.app__post{
  padding: 20px;
  display: flex;
  justify-content: center;
}
.app__postRight{
  margin-left: 20px;
}
.app__header{
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  object-fit: contain;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px gray solid;
}
.app__signup{
  display: flex;
  flex-direction: column;
}

.app__headerImage{
  object-fit: contain;
}
.app__post{
  padding: 20px;
}

