.image-upload{
   position: sticky;
   z-index: 11111;
   bottom: 0;
   width: 100%;
   background-color: white;
}
.content{
   width: 50%;
   display: flex;
   flex-direction: column;
   margin-left: auto;
   margin-right: auto;
   margin-top: 10px;
   margin-bottom: 10px;
}

.imageupload_proggress{
   width: 100%;
}
